.shelter-container{
    margin-top: 50px;
}
.shelter-container .shelter-caption a{
    text-decoration: none;
}
/* 标题只展示一行，展示不下的用省略号；这样可以避免在ipad和ipad pro中的展示错误 */
.shelter-container .shelter-caption h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.shelter-container .shelter-caption p#time{
    font-size: 16px;
    color: gray;
}
/* 原材料的文字展示高度设置为40px，且最多展示两行，多的用省略号 */
p.ingredient{
    height: 40px;
    /* 必须得有下面这句 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* 回到顶部按钮样式 */
#back_top .arrow{
    border: 9px solid transparent;
    border-bottom-color: #3DA0DB;
    width: 0px;
    height: 0px;
    top:0px
}
#back_top .stick{
    width: 8px;
    height: 14px;
    border-radius: 1px;
    background-color: #3DA0DB;
    top:15px;
}
#back_top div{
    position: absolute;
    margin: auto;
    right: 0px;
    left: 0px;
}
#back_top{
    background-color: #dddddd;
    height: 38px;
    width: 38px;
    border-radius: 3px;
    display: block;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
}